@page
@model             ForgotPasswordModel
@{
    ViewData["Title"] = "Send recovery message.";
}

    <div class="card">
        <div class="card-body container">

            <h2>
                Send recovery message&nbsp;
                <img src="~/icon/paper-plane.svg" style="width:3rem;" />
            </h2>
            <hr />
            <form method="post">
                <div class="form-row mt-3">
                    <div class="col-lg-4 col-md-6">
                        <div class="form-group">
                            <label asp-for="Email" class="control-label font-weight-bold"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="invalid-feedback"></span>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="form-group mt-3">
                            <input type="submit" value="Send" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>

@section Scripts{
    <partial name="ResourcesPartialViews/_ValidationScriptsPartial" />
}


