@page
@model             ForgotPasswordConfirmationModel
@{
       ViewData["Title"] = "Check your Email";
}

<div class="alert alert-info" role="alert">
    <h4 class="alert-heading">
        @ViewData["Title"]
        <img src="~/icon/info-1.svg" class="mb-1 lightblue-filter" style="width:1.2rem;"/>
    </h4>
    <p class="mt-4">
If the information provided before was correct, 
the link to restore the password has been sent to your email.    </p>
</div>