@page 
@model             ResetPasswordModel
@{
    @if (Model.TokenIssuer == "./Login")
    {
        ViewData["Title"] = "New Password";
    }
    else
    {
        ViewData["Title"] = "Reset Password";
    }
}

    <div class="card">
        <div class="card-body container">
            <h2 class="mb-0">
                @ViewData["Title"]
                <img src="~/icon/key-2.svg" style="width:2.2rem;" />
            </h2>
            <p class="text-muted ml-1">Introduce new password</p>
            <hr />
            <form method="post">
                <div class="form-row mt-4">
                    <partial name="_ModelStatusMessage" model="Model" />
                    <div class="col-lg-4 col-md-6">
                        <div class="form-group">
                            <label asp-for="VmPwd.Password" class="control-label font-weight-bold"></label>
                            <input asp-for="VmPwd.Password" class="form-control" />
                            <span asp-validation-for="VmPwd.Password" class="invalid-feedback"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="VmPwd.ConfirmPassword" class="control-label font-weight-bold"></label>
                            <input asp-for="VmPwd.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="VmPwd.ConfirmPassword" class="invalid-feedback"></span>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="form-group mt-3">
                            <input type="submit" value="Save" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </form>

        </div>

        </div>

@section Scripts {
    <partial name="ResourcesPartialViews/_ValidationScriptsPartial" />
}


