@page
@model             ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Password updated";
}

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">
        You can now log in
        <img src="~/icon/check.svg" class="mb-1 darkgreen-filter" style="width:1.2rem;"/>
    </h4>
    <p class="mt-4 ml-1">
        Click this link to <a asp-page="./Login"  class="stretched-link">Log in</a>.
    </p>
</div>
