@page
@model             ResetPasswordExpiredModel
@{
    ViewData["Title"] = "The link has already expired";
}
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">
        @ViewData["Title"]
        <img src="~/icon/warning.svg"  class="mb-1 winered-filter" style="width:1.2rem;" />
    </h4>
    @if (Model.TokenIssuer == "./Login")
    {
<p class="mt-4">
    Click <a asp-page="./Login" class="stretched-link">here</a> to log in and repeat the password creation process.
</p>

    }
    else
    {
        <p class="mt-4">
            Click <a asp-page="./ForgotPassword" class="stretched-link">here</a> to send a new link to your email.
        </p>
    }
</div>
