
<p>&nbsp;</p>
<h2>
    A password change has been requested
    <img src="{2}" style="width:2rem;margin-left:.5rem;position:absolute;" />
</h2>
<p><strong>If you have not requested any password change, please ignore this message.</strong></p>
<p style="margin-top: 2rem;">Click here to recover your password</p>
<a href="{0}" style="color: #fff;
             background-color: #5cb85c;
             border-color: #ccc;
             border: 1px solid transparent;
             font-size: 14px;
             padding: 6px 12px;
             border-radius: 10px;
            text-decoration: none;">
    Recover password
</a>
<footer style="margin-top: 3rem;">
    <div style="color:gray;margin-top: 100px;">
        &copy; {1} - Emailit. All rights reserved.
    </div>
</footer>