@page
@model             ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
}
<div class="mb-4">
    <h4>Password</h4>
</div>
<div class="row">
    <div class="col-md-6">
        <partial name="_ModelStatusMessage" model="Model" />
        <form method="post">
            <div class="form-group">
                <label asp-for="OldPassword" class="control-label font-weight-bold"></label>
                <input asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VmPwd.Password" class="control-label font-weight-bold"></label>
                <input asp-for="VmPwd.Password" class="form-control" />
                <span asp-validation-for="VmPwd.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VmPwd.ConfirmPassword" class="control-label font-weight-bold"></label>
                <input asp-for="VmPwd.ConfirmPassword" class="form-control" />
                <span asp-validation-for="VmPwd.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group mt-5 pt-2">
                <input type="submit" value="Cambiar contraseña" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>
